---
import Layout from "../layouts/Layout.astro";
import WSPBtn from "../components/WSPBtn/WSPBtn.astro";
import HomeSlider from "../components/HomeSLider/HomeSlider";
import Navbar from "../components/Navbar/Navbar.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <title>HOLa</title>
  </head>
  <body>
    <Layout />
    <Navbar />
    <HomeSlider client:only="react" />
    <WSPBtn
      companyName="Servadec"
      welcomeMessage="Estamos para atenderte"
      phoneNumber="+56973974224"
    />
  </body>
</html>
